
{% include "assets/header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">
   <div class="row">
      <div class="col md-12">
         {%with messages = get_flashed_messages()%}
            {%if messages%}
               {% for message in messages %}
                  <div class="alert alert-success alert-dismissable" role="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                         <span aria-hidden="true">&times;</span>
                   </button>
                      {{message}}
                   </div>
               {%endfor%}
            {%endif%}
         {%endwith%}
      </div>
   </div>
   
   <div class="row">
      <div class="col-md-12">
         <form action="{{ url_for('gen') }}" method="post">
            <div class="form-group">
               <div class="col-md-3">
                  <label for="ks">Acción</label><br>
                  <select name="seleccion" id="" onchange="show_text(this)">
                     <option value="1">Calcular relaciones</option>
                     <option value="2">Calcular funciones</option>
                     <option value="3">Calcular funciones inyectivas</option>
                     <option value="4">Calcular funciones sobreyectivas</option>
                     <option value="5">Calcular funciones biyectivas</option>
                     <option value="6">Evaluar relación específica</option>
                  </select>
               </div>
               <div class="col-md-3">
                  <label for="text_in">Ingrese el dominio</label>
                  <input type="text" class="form-control" name="dominio" required="1" placeholder="a,b,c">
               </div>
               <div class="col-md-3">
                  <label for="ks">Ingrese el codominio</label>
                  <input type="text" class="form-control" name="codominio" required="1" placeholder="c,d,e">
               </div>   
               <br>
               <button type="submit" class="btn btn-success">Enviar</button>
               <div class="col-md-6" style="display:none;" id="exp_esp">
                  <label for="input_especial">Ingrese expresión</label>
                  <input type="text" class="form-control" name="exp_in">
               </div>
            </div>
         </form>
      </div>
   </div>
      <hr>
      <div class="row">
         <div class="col-md-12">
            <label for="text_in">Resultado</label>
            <br>
            <table class="table ">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Pares ordenados</th>
                      <th>Relación</th>
                      <th>Función</th>
                      <th>F. Inyectiva</th>
                      <th>F. Suprayectiva</th>
                      <th>F. Biyectiva</th>
                    </tr>
                  </thead>
                  <tbody>
                     {% if especial%}
                        <tr>
                           <td>1</td>  
                           <td>{ {{res.0}} }</td>
                           <td>{{res.1}}</td>
                           <td>{{res.2}}</td>
                           <td>{{res.3}}</td>
                           <td>{{res.4}}</td>
                           <td>{{res.5}}</td>
                        </tr>
                        {% else%}
                           {% for r in res%}
                           <tr>
                              <td>{{loop.index}}</td>                      
                              <td>{({{r.0}})}</td>
                              <td>{{r.1}}</td>
                              <td>{{r.2}}</td>
                              <td>{{r.3}}</td>
                              <td>{{r.4}}</td>
                              <td>{{r.5}}</td>
                           </tr>
                           {%endfor%}
                    {%endif%}
                  </tbody>
                </table>
         </div>
      </div>
<!--{% include "assets/footer.html" %}-->
</div>
{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/my.js')}}"></script>