
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">
   <div class="row">
      <div class="col md-12">
         {%with messages = get_flashed_messages()%}
            {%if messages%}
               {% for message in messages %}
                  <div class="alert alert-success alert-dismissable" role="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                         <span aria-hidden="true">&times;</span>
                   </button>
                      {{message}}
                   </div>
               {%endfor%}
            {%endif%}
         {%endwith%}
      </div>
   </div>
   
   <div class="row">
      <div class="col-md-12">
         <form action="{{ url_for('proc_descifrar') }}" method="post">
            <div class="form-group">
                  <label for="text_in">Ingrese el texto a descifrar</label>
                  <br>
                  <textarea name="mensaje_form" id="" cols="60" rows="7" class="form-control" required="1"></textarea>
                  <br>
                  <button type="submit" class="btn btn-success">Descifrar</button>
            </div>
         </form>
      </div>
      <div class="col-md-12">
         <label for="text_in">Posibilidades</label>
         <p><strong>Mensaje original:</strong> {{msj}}</p>
         <hr>
         <table class="table table-striped table-bordered" id="table">
            <thead>
              <tr>
                <th>K</th>
                <th>Mensaje</th>
                <th>%</th>
              </tr>
            </thead>
            <tbody>
               {% for d in data%}
               <!--p>{{loop.index}} - {{d}}</p-->
               <tr>
                  <td>{{loop.index}}</td>
                  <td>{{d}}</td>
                  <td>{{porc[loop.index-1]}}</td>
               </tr>
               {%endfor%}
            </tbody>
          </table>
         
      </div>
   </div> 
   
</div>

{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script>
      $(document).ready(function() {
          $('#table').DataTable();
      } );
</script>
