<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cifrador Cinvestav</title>
    <link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}" style="margin-top: -15px;">
                    <img src="{{ url_for('static', filename='img/cinvestav.png') }}" style="max-width: 40px"
                        alt="Cinvestav_logo">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-white">
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('des') }}">Descifrar</a></li>
                    <!--li><a href="https://google.com" target="_blank">Google</a></li-->
                </ul>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <h1>Cifrador de Julio Cesar</h1>
    </div>
    <div class="container">
        