
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">
   <div class="row">
      <div class="col md-12">
         {%with messages = get_flashed_messages()%}
            {%if messages%}
               {% for message in messages %}
                  <div class="alert alert-success alert-dismissable" role="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                         <span aria-hidden="true">&times;</span>
                   </button>
                      {{message}}
                   </div>
               {%endfor%}
            {%endif%}
         {%endwith%}
      </div>
   </div>
   
   <div class="row">
      <div class="col-md-6">
         <form action="{{ url_for('proc_cifrar') }}" method="post">
            <div class="form-group">
                  <label for="text_in">Ingrese el texto a cifrar</label>
                  <br>
                  <textarea name="mensaje_form" id="" cols="60" rows="10" class="form-control" required="1"></textarea>
                  <label for="ks">Por favor ingrese k</label>
                  <input type="number" class="form-control" name="k_form" required="1" min="1" max="25">
                  <br>
                  <button type="submit" class="btn btn-success">Cifrar</button>
            </div>
         </form>
      </div>
      <div class="col-md-6">
         <label for="text_in">Texto a cifrado</label>
         <br>
         <textarea name="text_out" id="" cols="60" rows="10" disabled class="form-control">{{data}} </textarea>
         <p><strong>Mensaje original: </strong>{{msj}} <b>K:</b>{{k_num}}</p>
      </div>
   </div> 
{% include "footer.html" %}
</div>
{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>