.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 15px;
    background-color: #f8f8f8;
    color: #777;
    text-align: center;
 }

 textarea{
    resize: none;
 }