
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">
   <div class="row">
      <div class="col md-12">
         {%with messages = get_flashed_messages()%}
            {%if messages%}
               {% for message in messages %}
                  <div class="alert alert-success alert-dismissable" role="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                         <span aria-hidden="true">&times;</span>
                   </button>
                      {{message}}
                   </div>
               {%endfor%}
            {%endif%}
         {%endwith%}
      </div>
   </div>
   
   <div class="row">
      <div class="col-md-8">
         <form action="{{ url_for('insert') }}" method="post">
            <label for="sel_combo">Seleccione las ciudades</label>
            <br>
            <select name="ciudad" id="">
                  {% for row in ciudades %}
                     <option value="{{row.2}}">{{row.1}} - {{row.3}}</option>
                  {% endfor%}
            </select>
            <br><br>
            <button type="submit" class="btn btn-success">Agregar</button>
         </form>
      </div>
      <div class="col-md-4">
         <h4>De donde salimos</h4>
         <form action="{{ url_for('procesar') }}" method="POST">
            <div class="row">
               <div class="form-group">
                  <label>Latitud:</label>
                  <input type="text" class="form-control" name="latitud" required="1">
               </div>
            </div>
            <div class="row">
               <div class="form-group">
                  <label>Longitud:</label>
                  <input type="text" class="form-control" name="longitud" required="1">
               </div>
            </div>
            <div class="row">
               <div class="form-group">
                  <label>Algoritmo:</label>
                  <select name="algoritmo" id="">
                     <option value="0">Exhaustivo</option>
                     <option value="1">Voraz</option>
                  </select>
                  <button class="btn btn-primary" type="submit">Procesar</button>
               </div>
            </div>
         </form>
      </div>
   </div>
   <hr>
   <div class="row">
      <div class="col-md-12">
         <table class="table table-striped">
            <tr>
               <th>#</th>
               <th>Estado</th>
               <th>Ciudad</th>
               <th>Borrar</th>
            </tr>
            {% for row in itinerario %}
            <tr>
               <td>{{row.2}}</td>
               <td>{{row.1}}</td>
               <td>{{row.3}}</td>     
               <td>
                  <!--a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a-->
                  <a href="/delete/{{ row.2 }}" class="btn btn-danger btn-xs" onclick="return confirm('¿Seguro de borrar?')">Borrar</a>
               </td>
                  </tr>
            {% endfor  %}
         </table>
      </div>
   </div> 
{% include "footer.html" %}
</div>
{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>