
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
   <nav>
      <a href="/">Regresar</a>
   </nav>
   <p>Latitud: {{lat}}</p>
   <p>Longitud: {{log}}</p>
   <p>Algoritmo:  {{alg}}</p>

   <p>Ciudades seleccionadas:</p>
   <ul>
      {% for i in c_iti%}
         <li>{{i[0][1]}}</li>
       {% endfor %}
   </ul>
   {% for w in rutas%}
      {% if minimo in w%}
         <strong>{{ loop.index }} -  {{w}} <-- Mejor ruta</strong>
      {%else%}
         {{ loop.index }} -  {{w}}
      {%endif%}
      <br>
   {% endfor %}
   
   {% include "footer.html" %}
</div>
{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>